In [29]:
class Course:
    def __init__(self, code, title, gpa, cred):
        self.code = code
        self.title = title 
        self.gpa = gpa 
        self.cred = cred
    
    def __str__(self):
        return f"{self.code}: {self.title}"

In [30]:
class Student:
    def __init__(self, name, sid):
        self.name = name
        self.sid = sid
        self.courses = []
        
    def add_course(self, course):
        self.courses.append(course)
        
    def display_courses(self):
        print(f"{self.name} has taken the following courses:")
        for course in self.courses:
            print(course)

In [31]:
pyoop = Course("DS 1116", "Python OOP", 0.00, 1.00)
eng2 = Course("ENG 1012", "Eng 2", 0.00, 3.00)

s1 = Student("Rahat", "010")
s2 = Student("Labib", "045")

s1.add_course(pyoop)
s1.add_course(eng2)
s1.display_courses()

Rahat has taken the following courses:
DS 1116: Python OOP
ENG 1012: Eng 2

In [32]:
print(pyoop)

DS 1116: Python OOP

In [40]:
class Date:
    def __init__(self, day, month, year):
        self.day = day
        self.month = month
        self.year = year
    
    def __str__(self):
        return f"{self.day}/{self.month}/{self.year}"
    
    def copy(self):
        return Date(self.day, self.month, self.year)

In [41]:
class Period:
    def __init__(self, start, end):
        self.start = start
        self.end = end
        
    def __str__(self):
        return f"{self.start} - {self.end}"

In [43]:
d1 = Date("11", "06", "2024")
d2 = Date("27", "06", "2024")
print(d1)
print(d2)

p = Period(d1.copy(), d2.copy())
d1.year = "2025"

print(p)
print(d1)

11/06/2024
27/06/2024
11/06/2024 - 27/06/2024
11/06/2025